# Pandas - Inspecionando o Conteúdo do Dataframe
## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [1]:
import numpy as np
import pandas as pd

## Lidando com DataFrames muito grandes 
DataFrames muito grandes serão truncados para exibi-los no console. 
Pode obter um resumo usando info().

In [2]:
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])
df

             UF     CASOS  OBITOS
0  Centro-Oeste   4574674   67252
1      Nordeste   7571957  136957
2         Norte   2984041   52114
3       Sudeste  15594474  344537
4           Sul   8266663  113218

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UF      5 non-null      object
 1   CASOS   5 non-null      int64
 2   OBITOS  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

## usando  to_string 
- retornará uma representação de string do DataFrame em formato tabular

In [4]:
print(df.T.to_string())

                   0         1        2         3        4
UF      Centro-Oeste  Nordeste    Norte   Sudeste      Sul
CASOS        4574674   7571957  2984041  15594474  8266663
OBITOS         67252    136957    52114    344537   113218

### Alterar o quanto imprimir em uma única linha, definindo a display.width opção:

In [5]:
pd.set_option('display.width', 4)

In [6]:
print(df.T.to_string())

                   0         1        2         3        4
UF      Centro-Oeste  Nordeste    Norte   Sudeste      Sul
CASOS        4574674   7571957  2984041  15594474  8266663
OBITOS         67252    136957    52114    344537   113218

In [7]:
pd.set_option('display.max_colwidth', 20)

In [8]:

print(df.T.to_string())

                   0         1        2         3        4
UF      Centro-Oeste  Nordeste    Norte   Sudeste      Sul
CASOS        4574674   7571957  2984041  15594474  8266663
OBITOS         67252    136957    52114    344537   113218

## Funcionalidades básicas

#### Cabeça e cauda

In [9]:
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['UF','CASOS','OBITOS'])

In [10]:
df.head(2)

,UF,CASOS,OBITOS
0,Centro-Oeste,4574674,67252
1,Nordeste,7571957,136957

In [11]:
df.tail(3)

,UF,CASOS,OBITOS
2,Norte,2984041,52114
3,Sudeste,15594474,344537
4,Sul,8266663,113218

In [12]:
df[2:4]

,UF,CASOS,OBITOS
2,Norte,2984041,52114
3,Sudeste,15594474,344537

### Nome de colunas

In [13]:
df.columns

Index(['UF',
       'CASOS',
       'OBITOS'],
      dtype='object')

In [14]:
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['uf',
       'casos',
       'obitos'],
      dtype='object')

In [15]:
df

,uf,casos,obitos
0,Centro-Oeste,4574674,67252
1,Nordeste,7571957,136957
2,Norte,2984041,52114
3,Sudeste,15594474,344537
4,Sul,8266663,113218

In [23]:
df.columns =  ['REGIAO',  'QUANTIDADE DE CASOS', 'QUANTIDADE DE OBITOS']
df

,REGIAO,QUANTIDADE DE CASOS,QUANTIDADE DE OBITOS
0,Centro-Oeste,4574674,67252
1,Nordeste,7571957,136957
2,Norte,2984041,52114
3,Sudeste,15594474,344537
4,Sul,8266663,113218

In [24]:
df.REGIAO

0    Centro-Oeste
1        Nordeste
2           Norte
3         Sudeste
4             Sul
Name: REGIAO, dtype: object

In [25]:
df['QUANTIDADE DE CASOS']

0     4574674
1     7571957
2     2984041
3    15594474
4     8266663
Name: QUANTIDADE DE CASOS, dtype: int64

### Obtendo um array NumPy
- usar to_numpy() ou numpy.asarray().

In [26]:
df.to_numpy()

array([['Centro-Oeste', 4574674, 67252],
       ['Nordeste', 7571957, 136957],
       ['Norte', 2984041, 52114],
       ['Sudeste', 15594474, 344537],
       ['Sul', 8266663, 113218]], dtype=object)

In [27]:
np.asarray(df)

array([['Centro-Oeste', 4574674, 67252],
       ['Nordeste', 7571957, 136957],
       ['Norte', 2984041, 52114],
       ['Sudeste', 15594474, 344537],
       ['Sul', 8266663, 113218]], dtype=object)