# Pandas - Agregação e Resumo de dados
## Pandas

O pandas é uma ferramenta de análise e manipulação de dados de código aberto rápida, poderosa, flexível e fácil de usar,
construída sobre a linguagem de programação Python 

https://pandas.pydata.org/

## Estruturas de dados do Pandas

In [1]:
import numpy as np
import pandas as pd
from functools import partial

## Agregações de dados com groupby

In [2]:
df = pd.read_csv('totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df

          REGIAO  UF    CASOS  OBITOS
0   Centro-Oeste  DF   955540   12025
1   Centro-Oeste  GO  2060518   28669
2   Centro-Oeste  MS   637169   11305
3   Centro-Oeste  MT   921447   15253
4       Nordeste  AL   348701    7355
5       Nordeste  BA  1844481   32034
6       Nordeste  CE  1508135   28215
7       Nordeste  MA   501121   11103
8       Nordeste  PB   725917   10669
9       Nordeste  PE  1235360   23240
10      Nordeste  PI   438676    8445
11      Nordeste  RN   601493    9321
12      Nordeste  SE   368073    6575
13         Norte  AC   169625    2083
14         Norte  AM   643745   14531
15         Norte  AP   191877    2175
16         Norte  PA   901045   19291
17         Norte  RO   505111    7527
18         Norte  RR   190318    2202
19         Norte  TO   382320    4305
20       Sudeste  ES  1384800   15214
21       Sudeste  MG  4335714   66850
22       Sudeste  RJ  2966219   78238
23       Sudeste  SP  6907741  184235
24           Sul  PR  3031840   47029
25           Sul  RS  3144956   43044
26           Sul  SC  2089867   23145

In [3]:
df.describe()

              CASOS         OBITOS
count  2.700000e+01      27.000000
mean   1.444141e+06   26447.333333
std    1.535571e+06   36864.206570
min    1.696250e+05    2083.000000
25%    4.698985e+05    7986.000000
50%    9.010450e+05   14531.000000
75%    1.952500e+06   28442.000000
max    6.907741e+06  184235.000000

In [4]:
df.dtypes

REGIAO    object
UF        object
CASOS      int64
OBITOS     int64
dtype: object

In [5]:
df.groupby('REGIAO')[['CASOS', 'OBITOS']].mean()

                     CASOS        OBITOS
REGIAO
Centro-Oeste  1.143668e+06  16813.000000
Nordeste      8.413286e+05  15217.444444
Norte         4.262916e+05   7444.857143
Sudeste       3.898618e+06  86134.250000
Sul           2.755554e+06  37739.333333

In [6]:
df.groupby('REGIAO')[['CASOS', 'OBITOS']].sum()

                 CASOS  OBITOS
REGIAO
Centro-Oeste   4574674   67252
Nordeste       7571957  136957
Norte          2984041   52114
Sudeste       15594474  344537
Sul            8266663  113218

In [7]:
df.groupby('REGIAO')[['CASOS', 'OBITOS']].max()

                CASOS  OBITOS
REGIAO
Centro-Oeste  2060518   28669
Nordeste      1844481   32034
Norte          901045   19291
Sudeste       6907741  184235
Sul           3144956   47029

In [8]:
df.groupby(["REGIAO"]).count()

              UF  CASOS  OBITOS
REGIAO
Centro-Oeste   4      4       4
Nordeste       9      9       9
Norte          7      7       7
Sudeste        4      4       4
Sul            3      3       3

In [9]:
df.groupby(by=["REGIAO"])[['OBITOS', 'CASOS']].count()

              OBITOS  CASOS
REGIAO
Centro-Oeste       4      4
Nordeste           9      9
Norte              7      7
Sudeste            4      4
Sul                3      3

## API de agregação  com DataFrame.aggregate(), ou o alias DataFrame.agg()
A API de agregação permite expressar, possivelmente, várias operações de agregação de uma forma única e concisa.

In [10]:
df.sum()

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                              38991809
OBITOS                                               714078
dtype: object

In [11]:
df.agg(np.sum)

C:\Users\emers\AppData\Local\Temp\ipykernel_21192\3046806295.py:1: FutureWarning: The provided callable <function sum at 0x000002152708DC60> is currently using DataFrame.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.agg(np.sum)

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                              38991809
OBITOS                                               714078
dtype: object

In [12]:
df.agg('sum')

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                              38991809
OBITOS                                               714078
dtype: object

# Equivalente ao ``.sum()``

In [13]:
df.sum()

REGIAO    Centro-OesteCentro-OesteCentro-OesteCentro-Oes...
UF        DFGOMSMTALBACEMAPBPEPIRNSEACAMAPPARORRTOESMGRJ...
CASOS                                              38991809
OBITOS                                               714078
dtype: object

Agregações únicas em um Series retornarão um valor escalar:

In [14]:
df['CASOS'].sum()

38991809

In [15]:
df['CASOS'].agg('sum')

38991809

### Agregando com múltiplas funções 
Pode-se passar vários argumentos de agregação como uma lista. 

Os resultados de cada uma das funções passadas formarão uma linha no resultado DataFrame. 

As colunas receberão os nomes das fuções de agregação.

In [16]:
df[['CASOS', 'OBITOS']].sum()

CASOS     38991809
OBITOS      714078
dtype: int64

In [17]:
df[['CASOS', 'OBITOS']].agg(['sum'])

        CASOS  OBITOS
sum  38991809  714078

In [18]:
df[['CASOS', 'OBITOS']].agg(['sum', 'mean', 'max', 'min', 'std'])

             CASOS         OBITOS
sum   3.899181e+07  714078.000000
mean  1.444141e+06   26447.333333
max   6.907741e+06  184235.000000
min   1.696250e+05    2083.000000
std   1.535571e+06   36864.206570

Em a Series, várias funções retornam a Series, indexado pelos nomes das funções:

In [19]:
df['OBITOS'].agg(['sum', 'mean', 'max', 'min', 'std'])

sum     714078.000000
mean     26447.333333
max     184235.000000
min       2083.000000
std      36864.206570
Name: OBITOS, dtype: float64

In [20]:
df['OBITOS'].agg(['sum', lambda x: x.sum()])

sum         714078
<lambda>    714078
Name: OBITOS, dtype: int64

Passar uma função nomeada produzirá esse nome para a linha:

In [21]:
def media(x):
    return x.mean()

In [22]:
df['OBITOS'].agg(['sum','mean', media])

sum      714078.000000
mean      26447.333333
media     26447.333333
Name: OBITOS, dtype: float64

### Agregando com um dict 
DataFrame.agg permite que você personalize quais funções são aplicadas a quais colunas por meio de um dicionário.

In [23]:
df.head()

         REGIAO  UF    CASOS  OBITOS
0  Centro-Oeste  DF   955540   12025
1  Centro-Oeste  GO  2060518   28669
2  Centro-Oeste  MS   637169   11305
3  Centro-Oeste  MT   921447   15253
4      Nordeste  AL   348701    7355

In [24]:
df.agg({'OBITOS': 'mean', 'CASOS': 'sum'})

OBITOS    2.644733e+04
CASOS     3.899181e+07
dtype: float64

Passar por uma lista irá gerar uma DataFramesaída. Você obterá uma saída tipo matriz de todos os agregadores. A saída consistirá em todas as funções exclusivas. Aqueles que não são indicados para uma coluna específica serão NaN:

In [25]:
df.agg({'OBITOS': ['sum', 'mean', 'max', 'min', 'std'], 'CASOS': 'sum'})

             OBITOS       CASOS
sum   714078.000000  38991809.0
mean   26447.333333         NaN
max   184235.000000         NaN
min     2083.000000         NaN
std    36864.206570         NaN

# Tipos de dados mistos 
Quando apresentado com dtypes mistos que não podem agregar, .agg só aceitará as agregações válidas.

In [26]:
df.dtypes

REGIAO    object
UF        object
CASOS      int64
OBITOS     int64
dtype: object

In [27]:
df[['CASOS', 'OBITOS']].agg(['min', 'sum', 'mean'])

             CASOS         OBITOS
min   1.696250e+05    2083.000000
sum   3.899181e+07  714078.000000
mean  1.444141e+06   26447.333333

## Descrição personalizada 
Com .agg() ele é possível criar facilmente uma função personalizada.

In [28]:
df['CASOS'].quantile(q=.75)

1952499.5

In [29]:
np.quantile(df['CASOS'] ,  q=.75)

1952499.5

In [30]:
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '75%'
q_75(df['CASOS'])

1952499.5

In [31]:
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = '25%'
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = '75%'
df[[ 'CASOS', 'OBITOS']].agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

               CASOS         OBITOS
count   2.700000e+01      27.000000
mean    1.444141e+06   26447.333333
std     1.535571e+06   36864.206570
min     1.696250e+05    2083.000000
25%     4.698985e+05    7986.000000
median  9.010450e+05   14531.000000
75%     1.952500e+06   28442.000000
max     6.907741e+06  184235.000000

In [32]:
df.groupby(by=["REGIAO"])[['CASOS','OBITOS']].mean()

                     CASOS        OBITOS
REGIAO
Centro-Oeste  1.143668e+06  16813.000000
Nordeste      8.413286e+05  15217.444444
Norte         4.262916e+05   7444.857143
Sudeste       3.898618e+06  86134.250000
Sul           2.755554e+06  37739.333333

In [33]:
df.groupby('REGIAO')[['CASOS','OBITOS']].agg(['count', 'mean', 'std', 'min', q_25, 'median', q_75, 'max'])

             CASOS                                                   \
             count          mean           std      min         25%
REGIAO
Centro-Oeste     4  1.143668e+06  6.276755e+05   637169   850377.50
Nordeste         9  8.413286e+05  5.501784e+05   348701   438676.00
Norte            7  4.262916e+05  2.760840e+05   169625   191097.50
Sudeste          4  3.898618e+06  2.340550e+06  1384800  2570864.25
Sul              3  2.755554e+06  5.792698e+05  2089867  2560853.50

                                             OBITOS                \
                 median         75%      max  count          mean
REGIAO
Centro-Oeste   938493.5  1231784.50  2060518      4  16813.000000
Nordeste       601493.0  1235360.00  1844481      9  15217.444444
Norte          382320.0   574428.00   901045      7   7444.857143
Sudeste       3650966.5  4978720.75  6907741      4  86134.250000
Sul           3031840.0  3088398.00  3144956      3  37739.333333


                       std    min      25%   median        75%     max
REGIAO
Centro-Oeste   8088.290796  11305  11845.0  13639.0   18607.00   28669
Nordeste       9816.155868   6575   8445.0  10669.0   23240.00   32034
Norte          6884.988851   2083   2188.5   4305.0   11029.00   19291
Sudeste       70917.022105  15214  53941.0  72544.0  104737.25  184235
Sul           12795.154565  23145  33094.5  43044.0   45036.50   47029