# Pandas - Localizando a Posição do Maior e do Menor Valor Na Coluna do DataFrame
## Índice de valores mín. / Máx. 
- As funções idxmin()e idxmax() em Series e DataFrame calculam os rótulos de índice correspondentes aos valores mínimo e máximo 
- idxmine idxmax são chamados argmine argmaxem NumPy.
- Quando houver várias linhas (ou colunas) correspondendo ao valor mínimo ou máximo idxmin()e idxmax() retornar o primeiro índice correspondente

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

         REGIAO  UF    CASOS  OBITOS
0  Centro-Oeste  DF   955540   12025
1  Centro-Oeste  GO  2060518   28669
2  Centro-Oeste  MS   637169   11305
3  Centro-Oeste  MT   921447   15253
4      Nordeste  AL   348701    7355

In [2]:
df.CASOS.idxmin(), df.CASOS.idxmax()

(13, 23)

In [3]:
df[['CASOS', 'OBITOS']].idxmin(axis=0)

CASOS     13
OBITOS    13
dtype: int64

In [4]:
df[['CASOS', 'OBITOS']].T

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
CASOS,955540,2060518,637169,921447,348701,1844481,1508135,501121,725917,1235360,...,505111,190318,382320,1384800,4335714,2966219,6907741,3031840,3144956,2089867
OBITOS,12025,28669,11305,15253,7355,32034,28215,11103,10669,23240,...,7527,2202,4305,15214,66850,78238,184235,47029,43044,23145

In [5]:
df[['CASOS', 'OBITOS']].T.idxmin(axis=1)

CASOS     13
OBITOS    13
dtype: int64