## Contagens de valor (histograma) / modo 
- O m√©todo value_counts() calcula um histograma de uma matriz 1D de valores

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF','CASOS','OBITOS'])
df.head()

         REGIAO  UF    CASOS  OBITOS
0  Centro-Oeste  DF   955540   12025
1  Centro-Oeste  GO  2060518   28669
2  Centro-Oeste  MS   637169   11305
3  Centro-Oeste  MT   921447   15253
4      Nordeste  AL   348701    7355

In [2]:
df.REGIAO.value_counts()

REGIAO
Nordeste        9
Norte           7
Centro-Oeste    4
Sudeste         4
Sul             3
Name: count, dtype: int64

In [16]:
pd.Series(df.REGIAO).value_counts()

REGIAO
Nordeste        9
Norte           7
Centro-Oeste    4
Sudeste         4
Sul             3
Name: count, dtype: int64

In [4]:
df.groupby('REGIAO').count()

              UF  CASOS  OBITOS
REGIAO
Centro-Oeste   4      4       4
Nordeste       9      9       9
Norte          7      7       7
Sudeste        4      4       4
Sul            3      3       3

In [5]:
df['REGIAO'].count()

27

In [6]:
df.groupby('REGIAO').count() / df['REGIAO'].count()

                    UF     CASOS    OBITOS
REGIAO
Centro-Oeste  0.148148  0.148148  0.148148
Nordeste      0.333333  0.333333  0.333333
Norte         0.259259  0.259259  0.259259
Sudeste       0.148148  0.148148  0.148148
Sul           0.111111  0.111111  0.111111

In [15]:
pd.Series(df.REGIAO).value_counts() / df['REGIAO'].count()

REGIAO
Nordeste        0.333333
Norte           0.259259
Centro-Oeste    0.148148
Sudeste         0.148148
Sul             0.111111
Name: count, dtype: float64

### O m√©todo value_counts() pode ser usado para contar combina√ß√µes em v√°rias colunas.

In [8]:
df['casos100milhares'] = df['CASOS']/100_000
df['casos100milhares'] = df['casos100milhares'].astype(int)
df

          REGIAO  UF    CASOS  OBITOS  casos100milhares
0   Centro-Oeste  DF   955540   12025                 9
1   Centro-Oeste  GO  2060518   28669                20
2   Centro-Oeste  MS   637169   11305                 6
3   Centro-Oeste  MT   921447   15253                 9
4       Nordeste  AL   348701    7355                 3
5       Nordeste  BA  1844481   32034                18
6       Nordeste  CE  1508135   28215                15
7       Nordeste  MA   501121   11103                 5
8       Nordeste  PB   725917   10669                 7
9       Nordeste  PE  1235360   23240                12
10      Nordeste  PI   438676    8445                 4
11      Nordeste  RN   601493    9321                 6
12      Nordeste  SE   368073    6575                 3
13         Norte  AC   169625    2083                 1
14         Norte  AM   643745   14531                 6
15         Norte  AP   191877    2175                 1
16         Norte  PA   901045   19291                 9
17         Norte  RO   505111    7527                 5
18         Norte  RR   190318    2202                 1
19         Norte  TO   382320    4305                 3
20       Sudeste  ES  1384800   15214                13
21       Sudeste  MG  4335714   66850                43
22       Sudeste  RJ  2966219   78238                29
23       Sudeste  SP  6907741  184235                69
24           Sul  PR  3031840   47029                30
25           Sul  RS  3144956   43044                31
26           Sul  SC  2089867   23145                20

In [9]:
df[['REGIAO', 'casos100milhares']].value_counts()

REGIAO        casos100milhares
Norte         1                   3
Nordeste      3                   2
Centro-Oeste  9                   2
Norte         5                   1
Sul           30                  1
              20                  1
Sudeste       69                  1
              43                  1
              29                  1
              13                  1
Norte         9                   1
              6                   1
Centro-Oeste  6                   1
Norte         3                   1
Nordeste      18                  1
              15                  1
              12                  1
              7                   1
              6                   1
              5                   1
              4                   1
Centro-Oeste  20                  1
Sul           31                  1
Name: count, dtype: int64

### Da mesma forma, voc√™ pode obter os valores de ocorr√™ncia mais frequente, ou seja, a moda

In [10]:
df.REGIAO.mode()

0    Nordeste
Name: REGIAO, dtype: object

In [11]:
df.casos100milhares.mode()

0    1
1    3
2    6
3    9
Name: casos100milhares, dtype: int32