# Pandas - Reindexando Dataframes e Séries (reindex e reindex_like)

# Reindexando e alterando rótulos 
reindex() é o método de alinhamento de dados fundamental em pandas.

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO','UF', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO  UF    CASOS  OBITOS
0  Centro-Oeste  DF   955540   12025
1  Centro-Oeste  GO  2060518   28669
2  Centro-Oeste  MS   637169   11305
3  Centro-Oeste  MT   921447   15253
4      Nordeste  AL   348701    7355

In [2]:
novoindex =  sorted(df.index, reverse= True)
print(novoindex)

colunas= sorted(df.columns, reverse= True)
print(colunas)

[26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['UF', 'REGIAO', 'OBITOS', 'CASOS']

In [3]:
df.reindex(novoindex).head()

     REGIAO  UF    CASOS  OBITOS
26      Sul  SC  2089867   23145
25      Sul  RS  3144956   43044
24      Sul  PR  3031840   47029
23  Sudeste  SP  6907741  184235
22  Sudeste  RJ  2966219   78238

In [4]:
df.reindex(index=novoindex, columns=colunas).head()

    UF   REGIAO  OBITOS    CASOS
26  SC      Sul   23145  2089867
25  RS      Sul   43044  3144956
24  PR      Sul   47029  3031840
23  SP  Sudeste  184235  6907741
22  RJ  Sudeste   78238  2966219

In [5]:
df.reindex(novoindex, axis='index').head()

     REGIAO  UF    CASOS  OBITOS
26      Sul  SC  2089867   23145
25      Sul  RS  3144956   43044
24      Sul  PR  3031840   47029
23  Sudeste  SP  6907741  184235
22  Sudeste  RJ  2966219   78238

In [6]:
df.reindex(colunas, axis='columns').head()

   UF        REGIAO  OBITOS    CASOS
0  DF  Centro-Oeste   12025   955540
1  GO  Centro-Oeste   28669  2060518
2  MS  Centro-Oeste   11305   637169
3  MT  Centro-Oeste   15253   921447
4  AL      Nordeste    7355   348701

In [7]:
obitos = df['OBITOS']
obitos = obitos.reindex(novoindex)
obitos.head()

26     23145
25     43044
24     47029
23    184235
22     78238
Name: OBITOS, dtype: int64

In [8]:
df['CASOS'].head()

0     955540
1    2060518
2     637169
3     921447
4     348701
Name: CASOS, dtype: int64

In [9]:
df['CASOS'].reindex_like(obitos).head()

26    2089867
25    3144956
24    3031840
23    6907741
22    2966219
Name: CASOS, dtype: int64