# Pandas - Removendo linhas e colunas do Dataframe

## Descartando rótulos de um eixo 
A função drop() remove um conjunto de rótulos de um eixo:

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('totaisestadoscomregiao_arr.csv', sep=';',names =['REGIAO', 'UF', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO  UF    CASOS  OBITOS
0  Centro-Oeste  DF   955540   12025
1  Centro-Oeste  GO  2060518   28669
2  Centro-Oeste  MS   637169   11305
3  Centro-Oeste  MT   921447   15253
4      Nordeste  AL   348701    7355

In [2]:
df.drop([1,2,3,4,5,6,7,8,9], axis=0).head()

          REGIAO  UF   CASOS  OBITOS
0   Centro-Oeste  DF  955540   12025
10      Nordeste  PI  438676    8445
11      Nordeste  RN  601493    9321
12      Nordeste  SE  368073    6575
13         Norte  AC  169625    2083

In [3]:
df.drop(['REGIAO', 'CASOS'], axis=1).head()

   UF  OBITOS
0  DF   12025
1  GO   28669
2  MS   11305
3  MT   15253
4  AL    7355