# Pandas - Interação com Loop For em DataFrames ( items, iterrows e itertuples)

# Interando com DataFrame

### Interando pelas colunas

In [29]:
import numpy as np
import pandas as pd
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col='REGIAO')
df.head()

                 CASOS  OBITOS
REGIAO
Centro-Oeste   4574674   67252
Nordeste       7571957  136957
Norte          2984041   52114
Sudeste       15594474  344537
Sul            8266663  113218

In [30]:
for col in df:
    print(col)

CASOS
OBITOS

In [31]:
for col in df:
    print(col)
    print(df[col].sum())
    print(df[col].mean())

CASOS
38991809
7798361.8
OBITOS
714078
142815.6

### Os objetos Pandas também possuem o método items() do tipo dict para iterar os pares (chave, valor).

In [32]:
for col, values in df.items():
    print(f"coluna: {col} , valores { values}")

coluna: CASOS , valores REGIAO
Centro-Oeste     4574674
Nordeste         7571957
Norte            2984041
Sudeste         15594474
Sul              8266663
Name: CASOS, dtype: int64
coluna: OBITOS , valores REGIAO
Centro-Oeste     67252
Nordeste        136957
Norte            52114
Sudeste         344537
Sul             113218
Name: OBITOS, dtype: int64

In [33]:
for col, values in df.items():
    print(f"coluna: {col} , total { values.sum()}")

coluna: CASOS , total 38991809
coluna: OBITOS , total 714078

### Interando  usando métodos iterrows(): 
Itere sobre as linhas de um DataFrame como pares (índice, série). Isso converte as linhas em objetos Series, o que pode alterar os dtypes e tem algumas implicações de desempenho.

In [22]:
for id, linha in df.iterrows():
    print(id, linha['CASOS'], linha['OBITOS'])

Centro-Oeste 4574674 67252
Nordeste 7571957 136957
Norte 2984041 52114
Sudeste 15594474 344537
Sul 8266663 113218

### Interando o método itertuples(): 
Itere sobre as linhas de um DataFrame como pares nomeados dos valores. Isso é muito mais rápido iterrows()e, na maioria dos casos, é preferível usar para iterar os valores de um DataFrame.

In [23]:
for row in df.itertuples():
    print(row[0], row[1], row[2])

Centro-Oeste 4574674 67252
Nordeste 7571957 136957
Norte 2984041 52114
Sudeste 15594474 344537
Sul 8266663 113218

### Atenção

A iteração por meio de objetos pandas é geralmente lenta . Em muitos casos, a iteração manual nas linhas não é necessária e 
Você nunca deve modificar algo sobre o qual está iterando. 
Por exemplo, no seguinte caso, definir o valor pode em alguns casos não ter efeito:

In [24]:
df

                 CASOS  OBITOS
REGIAO
Centro-Oeste   4574674   67252
Nordeste       7571957  136957
Norte          2984041   52114
Sudeste       15594474  344537
Sul            8266663  113218

In [25]:
df = df[['CASOS', 'OBITOS']].astype(float)

In [26]:
for index, row in df.iterrows():
    row['CASOS'] = row['CASOS']  / 100_000

In [27]:
df

                  CASOS    OBITOS
REGIAO
Centro-Oeste   45.74674   67252.0
Nordeste       75.71957  136957.0
Norte          29.84041   52114.0
Sudeste       155.94474  344537.0
Sul            82.66663  113218.0