# Pandas - Uso dos Métodos Vetorizados do Tipo String

# Métodos vetorizados de string 
A série é equipada com um conjunto de métodos de processamento de strings que facilitam a operação em cada elemento da matriz.

Eles são acessados ​​por meio do stratributo da série e geralmente têm nomes que correspondem aos métodos de string embutidos equivalentes (escalares).

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('totaisregioes_arr.csv', sep=';',names =['REGIAO', 'CASOS','OBITOS'], index_col=False)
df.head()

         REGIAO     CASOS  OBITOS
0  Centro-Oeste   4574674   67252
1      Nordeste   7571957  136957
2         Norte   2984041   52114
3       Sudeste  15594474  344537
4           Sul   8266663  113218

In [2]:
df['REGIAO'].str.lower()

0    centro-oeste
1        nordeste
2           norte
3         sudeste
4             sul
Name: REGIAO, dtype: object

In [3]:
df['REGIAO'].str.upper()

0    CENTRO-OESTE
1        NORDESTE
2           NORTE
3         SUDESTE
4             SUL
Name: REGIAO, dtype: object

In [4]:
df['REGIAO'].str.title()

0    Centro-Oeste
1        Nordeste
2           Norte
3         Sudeste
4             Sul
Name: REGIAO, dtype: object